body{
  background-color: gray;
}

.container{
  width: 960px;
  height:400px;
}

h1, h3 {
  font-family: "Munro";
  padding: 10px;
  color: black;
  margin-left: 35%;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

.body{
  height: 400px;
  width: 100%;
  background-color: blue;
  border: 10px solid black;
}

.textbox{
  height: 150px;
  width: 100%;
  background-color: #222;
  color: #fdfdfd;
  font-family: "Munro";
  font-size: 2em;
  padding: 5px;
}

.buttonwrap{
  height: 50px;
  width: 100%;
  background-color: purple;
}
