.van {
  .arrow {
    font-size: 3em;
    color: white;
    display: none;
    cursor: pointer;
  }
  
  .body{
    background: url('../images/MartaonMac.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
}
