@font-face {
  font-family:"Munro";
  src: url(../fonts/MunroNarrow.ttf)
}

button {
  margin: 2px 5px auto 100px;
  padding: 9px;
  background-color: gray;
  border: solid black 3px;
  font-size: 1.5rem;
  font-style: bold;
}

/* imports */
@import 'dino';
@import 'layout';
@import 'emu';
@import 'van';
@import 'start';
@import 'end';
@import 'home'
