@font-face {
  font-family:"Munro";
  src: url(MunroNarrow.ttf)
}

<<<<<<< HEAD
/* imports */
@import 'dino';
@import 'layout';
@import 'emu';
@import 'van';
@import 'start';
@import 'end';



 
=======
.body{
  height: 400px;
  width: 100%;
  background-color: blue;
}

.textbox{
  height: 150px;
  width: 100%;
  background-color: #222;
  color: #fdfdfd;
  font-family: "Munro";
}

.buttonwrap{
  height: 50px;
  width: 100%;
  background-color: purple;
}
>>>>>>> 11caf305a400ca99c6a5842772fb93a387d87072
