<section>
  <div class="body"></div>
  <div id="emu"></div>
  <div class="buttonwrap">

<!--     Pub Scene -->
  <div><span class="arrow one ">1 &rArr; </span></div>
  <div><span class="arrow two">2 &rArr; </span></div>
  <div><span class="arrow three">3 &rArr; </span></div>
  <div><span class="arrow four">4 &rArr; </span></div>
  <div><span class="arrow five">5 &rArr; </span></div>
  <div><span class="arrow six">6 &rArr; </span></div>
  <button class="btn btn-primary left-pub" ng-show="emu.option1pub">Chase After Major Meridith</button>
  <button class="btn btn-primary right-pub" ng-show="emu.option2pub">Have a drink and wait 'til morning.</button>

<!-- Option 1 Chase Scene -->
  <div><span class="arrow seven">7 &rArr; </span></div>
  <div><span class="arrow eight">8 &rArr; </span></div>
  <div><span class="arrow nine">9 &rArr; </span></div>

  <button class="btn btn-primary left-base" ng-show="emu.option1base">Entice him with succulent dish</button>
  <button class="btn btn-primary right-base" ng-show="emu.option2base">Tell your tale of woe</button>



<!-- Tale of Woe Scene -->
  <div><span class="arrow ten">10 &rArr; </span></div>
  <div><span class="arrow eleven">11 &rArr; </span></div>
  <div><span class="arrow twelve">12 &rArr; </span></div>

<!-- Food Scene -->
  <div><span class="arrow thirteen">13 &rArr; </span></div>
  <div><span class="arrow fourteen">14 &rArr; </span></div>
  <div><span class="arrow fifteen">15 &rArr; </span></div>
  <div><span class="arrow sixteen">16 &rArr; </span></div>
  <div><span class="arrow seventeen">17 &rArr; </span></div>
  <div><span class="arrow eighteen">18 &rArr; </span></div>
  <div><span class="arrow nineteen">19 &rArr; </span></div>

<!-- War Scene -->
<div><span class="arrow twenty">20 &rArr; </span></div>
<div><span class="arrow twentyone">21 &rArr; </span></div>
<div><span class="arrow twentytwo">22 &rArr; </span></div>
<div><span class="arrow twentythree">23 &rArr; </span></div>
<button class="btn btn-primary left-war" ng-show="emu.option1war">Tell to Surprise the Enemy!</button>
<button class="btn btn-primary right-war" ng-show="emu.option2war">Use the Hide and Ambush Approach!</button>


<!-- Surprise Scene -->
<div><span class="arrow thirtyone">31 &rArr; </span></div>
<div><span class="arrow thirtytwo">32 &rArr; </span></div>


<!-- Ambush Scene -->
<div><span class="arrow twentyfour">24 &rArr; </span></div>
<div><span class="arrow twentyfive">25 &rArr; </span></div>
<div><span class="arrow twentysix">26 &rArr; </span></div>
<div><span class="arrow twentyseven">27 &rArr; </span></div>
<div><span class="arrow twentyeight">28 &rArr; </span></div>
<div><span class="arrow twentynine">29 &rArr; </span></div>
<div><span class="arrow thirty">30 &rArr; </span></div>
<button class="btn btn-primary left-end" ng-show="emu.option1end">Pursue the Emus Further!</button>
<button class="btn btn-primary right-end" ng-show="emu.option2end">Call it good.</button>


<div><span class="arrow thirtyone">31 &rArr; </span></div>
<div><span class="arrow thirtytwo">32 &rArr; </span></div>
<div><span class="arrow thirtythree">33 &rArr; </span></div>
<div><span class="arrow thirtyfour">34 &rArr; </span></div>
<div><span class="arrow thirtyfive">35 &rArr; </span></div>
<div><span class="arrow thirtysix">36 &rArr; </span></div>
<div><span class="arrow thirtyseven">37 &rArr; </span></div>
<div><span class="arrow thirtyeight">38 &rArr; </span></div>
<div><span class="arrow thirtynine">39 &rArr; </span></div>








  </div>
  <div class="textbox"></div>
</section>
