<section class="van">
  <div class="body"></div>
  <div class="buttonwrap">
    <button class="btn btn-primary left-1" ng-show="van.option1">Go with Van</button>
    <button class="btn btn-primary right-1" ng-show="van.option1">Go with Gaurgan</button>
    <button class="btn btn-primary left-2" ng-show="van.option2">Go with Van</button>
    <button class="btn btn-primary right-2" ng-show="van.option2">Go with Gaurgan</button>
    <div class="btn"><span class="arrow one">&rArr;</span></div>
    <div class="btn"><span class="arrow two">&rArr;</span></div>
  </div>
  <div class="textbox"></div>
</section>
