<section class="van">
  <div class="body">
    <div class="van-img hide" id="van-marta"></div>
    <div class="van-img hide flipped" id="van"></div>
    <div class="van-img hide" id="gauguin"></div>
  </div>
  <div class="buttonwrap">
    <button class="btn btn-primary right-1" ng-show="van.option1">Go with Gaurgan</button>
    <button class="btn btn-primary left-1" ng-show="van.option1">Go with Van</button>
    <button class="btn btn-primary left-2" ng-show="van.option2">Marta: He said your art sucks!</button>
    <button class="btn btn-primary right-2" ng-show="van.option2">How about a drink?</button>
    <button class="btn btn-primary middle-3" ng-show="van.option3">Apology</button>
    <button class="btn btn-primary left-3" ng-show="van.option3">Razor</button>
    <button class="btn btn-primary right-3" ng-show="van.option3">Pistol</button>
    <div ><span class="arrow one">&rArr;</span></div>
    <div ><span class="arrow two">&rArr;</span></div>
    <div ><span class="arrow three">&rArr;</span></div>
    <div ><span class="arrow four">&rArr;</span></div>
    <div ><span class="arrow five">&rArr;</span></div>
    <div ><span class="arrow six">&rArr;</span></div>
    <div ><span class="arrow seven">&rArr;</span></div>
    <div ><span class="arrow eight">&rArr;</span></div>
    <div ><span class="arrow nine">&rArr;</span></div>
    <div ><span class="arrow ten">&rArr;</span></div>
    <div ><span class="arrow eleven">&rArr;</span></div>
    <div ><span class="arrow twelve">&rArr;</span></div>
    <div ><span class="arrow thirteen">&rArr;</span></div>
    <div ><span class="arrow fourteen">&rArr;</span></div>
    <div ><span class="arrow fifteen">&rArr;</span></div>
    <div ><span class="arrow sixteen">&rArr;</span></div>
    <div ><span class="arrow seventeen">&rArr;</span></div>
    <div ><span class="arrow eighteen">&rArr;</span></div>
    <div ><span class="arrow nineteen">&rArr;</span></div>
    <div ><span class="arrow twenty">&rArr;</span></div>
    <div ><span class="arrow twentyone">&rArr;</span></div>
    <div ><span class="arrow twentytwo">&rArr;</span></div>
    <div ><span class="arrow twentythree">&rArr;</span></div>
    <div ><span class="arrow twentyfour">&rArr;</span></div>
    <div ><span class="arrow twentyfive">&rArr;</span></div>
    <div ><span class="arrow twentysix">&rArr;</span></div>
    <div ><span class="arrow twentyseven">&rArr;</span></div>
    <div ><span class="arrow twentyeight">&rArr;</span></div>
    <div ><span class="arrow twentynine">&rArr;</span></div>
    <div ><span class="arrow thirty">&rArr;</span></div>
    <div ><span class="arrow thirtyone">&rArr;</span></div>
    <div ><span class="arrow thirtytwo">&rArr;</span></div>
    <div ><span class="arrow thirtythree">&rArr;</span></div>
    <div ><span class="arrow thirtyfour">&rArr;</span></div>
    <div ><span class="arrow thirtyfive">&rArr;</span></div>
    <div ><span class="arrow thirtysix">&rArr;</span></div>
    <div ><span class="arrow thirtyseven">&rArr;</span></div>
  </div>
  <div class="textbox"></div>
</section>
