<section class="van">
  <div class="body"></div>
  <div class="buttonwrap">
    <button class="btn btn-primary left-1" ng-show="van.option1">Go with Van</button>
    <button class="btn btn-primary right-1" ng-show="van.option1">Go with Gaurgan</button>
    <button class="btn btn-primary left-2" ng-show="van.option2">He said your art sucks!</button>
    <button class="btn btn-primary right-2" ng-show="van.option2">How about a drink?</button>
    <div ><span class="arrow one">&rArr;</span></div>
    <div ><span class="arrow two">&rArr;</span></div>
    <div ><span class="arrow three">&rArr;</span></div>
    <div ><span class="arrow four">&rArr;</span></div>
    <div ><span class="arrow five">&rArr;</span></div>
    <div ><span class="arrow six">&rArr;</span></div>
    <div ><span class="arrow seven">&rArr;</span></div>
    <div ><span class="arrow eight">&rArr;</span></div>
    <div ><span class="arrow nine">&rArr;</span></div>
    <div ><span class="arrow ten">&rArr;</span></div>
    <div ><span class="arrow eleven">&rArr;</span></div>



  </div>
  <div class="textbox"></div>
</section>
